.header {
  position: relative;
}
.header .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #363845;
  opacity: 0.7;
}
.header .navbar {
  position: absolute;
  width: 100%;
  z-index: 5;
}
.header .navbar .navbar-brand {
  color: #FFF;
}
.header .navbar .collapse {
  position: relative;
  z-index: 50;
}
.header .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
.header .nav-item .nav-link {
  padding: 0.2rem 0.7rem;
  color: #fff !important;
}
.header .nav-item.active {
  border-bottom: 2px solid #ffc107;
}
.header .nav-item.active .nav-link {
  color: #fff !important;
}
.header .header-body {
  height: 100vh;
}
.header .header-body img {
  width: 100%;
  height: 100%;
}
.header .azza-vision {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  color: white;
}
.header .azza-vision h3 {
  font-size: 2.5rem;
}
.header .azza-vision p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.8;
  color: #DDD;
}
.header .azza-vision span {
  color: #ffc107;
  font-weight: 550;
}
.header .azza-vision button {
  color: #111;
  border: none;
  padding: 4px 20px;
  background: none;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #ffc107;
  cursor: pointer;
  transition: 0.5s;
}
.header .azza-vision button:hover {
  transform: scale(1.1, 1.1);
}
.header .azza-vision button:focus {
  border: none;
}

.service {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}
.service .pro_list {
  margin: 20px 0;
}
.service .pro_list li {
  color: #888;
  padding: 5px 0;
}
.service .pro_list li:last-of-type {
  background-color: #ffc107;
  color: #111;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffc107;
  cursor: pointer;
}
.service .serv-text {
  text-align: center;
}
.service .serv-text h2 {
  color: #333;
}
.service .serv-text p {
  color: #777;
}
.service .serv-text span {
  color: #ffc107;
}
.service .card {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.4s;
  box-shadow: 0px 0px 11px 1px #ddd;
}
.service .card:hover {
  transform: scale(1.1, 1.1);
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}
.about .about-body p {
  color: #777;
}
.about .about-text {
  text-align: center;
}
.about .about-text h2 {
  color: #333;
}
.about .about-text p {
  color: #777;
}
.about .about-text span {
  color: #ffc107;
}

.request {
  background-color: var(--gray-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.request form label {
  color: #fff;
}
.request .request-text {
  text-align: center;
}
.request .request-text h2 {
  color: #ffc107;
}
.request .request-text p {
  color: #eee;
}
.request .steps {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  color: var(--gray-dark);
  position: relative;
}
.request .steps::after {
  content: "";
  position: absolute;
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: #999;
  z-index: 1;
}
.request .steps span {
  position: relative;
  z-index: 2;
  width: 100px;
  height: 100px;
  background-color: #DDD;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #777;
}

.our-work {
  background-color: #EEE;
  padding-top: 60px;
  padding-bottom: 60px;
}
.our-work .work-text {
  text-align: center;
}
.our-work .work-text h2 {
  color: #333;
}
.our-work .work-text p {
  color: #555;
}
.our-work .work-text span {
  color: #ffc107;
}
.our-work .works {
  margin: 50px 0;
}
.our-work .works span {
  padding: 8px;
  border: 1px solid #ffc107;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.our-work .works span.active {
  background-color: #ffc107;
  color: #111;
}
.our-work .work-space .card {
  position: relative;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.our-work .work-space .card .over {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0;
  transition: 0.3s;
}
.our-work .work-space .card button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffc107;
  border-radius: 5px;
  padding: 5px 20px;
  color: #333;
  background-color: #ffc107;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
}
.our-work .work-space .card:hover .over {
  opacity: 0.8;
}
.our-work .work-space .card:hover button {
  opacity: 1;
}
.our-work .web {
  transition: all 0.3s;
}
.our-work .web .card {
  height: 300px;
  overflow: hidden;
}
.our-work .web img {
  width: 100%;
}
.our-work .ndroid .card {
  height: 300px;
  overflow: hidden;
}
.our-work .ndroid img {
  width: 100%;
}

.get-in {
  background-color: #EEE;
  padding-top: 60px;
  padding-bottom: 60px;
}
.get-in .get-text {
  text-align: center;
}
.get-in .get-text h2 {
  color: #333;
}
.get-in .get-text p {
  color: #555;
}
.get-in .get-text span {
  color: #ffc107;
}
.get-in .contact-way h6 {
  line-height: 1.6;
}
.get-in .contact-way .way {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.get-in .contact-way .way .icon {
  position: relative;
  background-color: #ffc107;
  width: 50px;
  max-height: 50px;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #ffc107;
}
.get-in .contact-way .way .icon:hover {
  background-color: white;
}
.get-in .contact-way .way .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.get-in .contact-way .way .text {
  margin-left: 5px;
  margin-right: 5px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--gray-dark);
  color: #fff;
}
.footer .s-media i {
  cursor: pointer;
  transition: 0.3s;
  margin-right: 5px;
  margin-left: 5px;
}
.footer .s-media i:hover {
  color: #ffc107;
}
.footer h4 {
  color: #ffc107;
}
.footer ul li {
  padding: 2px 5px;
}
.footer p {
  font-size: 14px;
  line-height: 1.7;
}
.footer .rights {
  width: fit-content;
  margin: auto;
  padding: 0;
  margin-bottom: 0;
  margin-top: 20px;
  color: #ffc107;
}

body {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=main.css.map */
