// Navbar

.navbar-nav {
    margin-right: auto;
    margin-left: 0px !important;
}

.azza-vision {
    text-align: right;
}

.pro_list {
    padding: 0;
}

.works {
    text-align: right;
}

.contact-way {
    h6{
        text-align: right;
    }
}

.get-in .contact-way .way .text {
    text-align: right;
}

.send {
    float: right;
}

.footer {
    text-align: right;
    ul {
        padding: 0;
    }
}