doctype html
html(dir="rtl")
 head
  include html/style
  title Code War
 body
  .header-area
    include html/navbar
  .clear
  div(class="our-feat text-center")
    .container
      div.icon 
       i(class="fa fa-phone fa-2x")
       .title Strategy 
       p we'll work with you develop the right strategy
      div.icon
       i(class="fa fa-phone fa-2x")
       .title Strategy 
       p we'll work with you develop the right strategy
      div.icon
       i(class="fa fa-phone fa-2x")
       .title Strategy 
       p we'll work with you develop the right strategy
      div.icon
       i(class="fa fa-phone fa-2x")
       .title Strategy 
       p we'll work with you develop the right strategy
  .our-service
    .container
      .service1
        h4 Our service
        h2 Solving Problems
        p This is a great section to introduce your company and showcase your featured services.
        button.main-button Website Desing
        button.main-button Application Development
      .image
        img(src="images/undraw_group_selfie_ijc6.svg")
  .our-service
    .container
      .image
        img(src="images/undraw_group_selfie_ijc6.svg")
      .service2
        h4 Our service
        h2 Sales Growth
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus id aspernatur corporis sequi sunt at odio non totam doloremque. Sunt provident architecto quae voluptatibus eum suscipit corrupti. Nisi, quas atque.
        button.main-button View Pricing
  div(class="our-pricing text-center")
    .container
     h2 Pricing
     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ipsum ratione quo impedit reiciendis harum?
     .priceing
      .table 
       h1 $199
       span Basic
       p Starter plan with all the basics included
       ul.list-unstyle
        li Care business System
        li Team Managment
        li Dual infrastructure
        li Customized Features
       button.main-button Enquire  
      .table 
       h1 $499
       span Growth
       p Starter plan with all the basics included
       ul.list-unstyle
        li Care business System
        li Team Managment
        li Dual infrastructure
        li Customized Features
       button.main-button Enquire
      .table 
       h1 $1299
       span Corporate
       p Starter plan with all the basics included
       ul.list-unstyle
        li Care business System
        li Team Managment
        li Dual infrastructure
        li Customized Features
       button.main-button Enquire
  div(class="our-clients text-center")
    .container
     h4 Our Clients
     h2 Client Showcase
     div.comp
      span Company
      span Agency
      span Online
      span Book
  .our-updates
    .container
     h4.text-center Recent update
     h2.text-center Featured Stories
     .card 
       img(src="images/undraw_online_popularity_elhc.svg", alt="", width="200px")
       h4 Remote Working
       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus?
       span Read More
     .card 
       img(src="images/undraw_message_sent_1030.svg", alt="", width="200px")
       h4 Remote Working
       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus?
       span Read More 
     .card 
       img(src="images/undraw_art_museum_8or4.svg", alt="", width="200px")
       h4 Remote Working
       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus?
       span Read More
     .clear
  .question
    .container
      .quest
        h4 Contact
        h1 Questions? Get in touch
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nam aut id. Fugiat, nisi soluta.
        button.main-button Send an Email
      .image
        img(src="images/undraw_message_sent_1030.svg", width="500px")
  .footer
    .container
      .wrapper
        .code
          h1 Code
          span beautiful landing page template by Codefest.
        .about
          h1 About
          ul.list-unstyle
            li We like to do business
            li at Codelander HQ to our
            li Client' satisfaction.
        .contact
          h1 Contact Us
          ul.list-unstyle 
            li 
              i(class="fa fa-map-marker")
              span 123 Business Center London SW1A 1AA
            li 
              i(class="fa fa-phone")
              span 0123456789
            li 
              i(class="fa fa-envelope-open")
              span mail@domain.com
        .social
          h1 Socials
          ul.list-unstyle
            li 
              i(class="fa fa-facebook")
            li 
              i(class="fa fa-twitter")
            li 
              i(class="fa fa-instagram")
            li 
              i(class="fa fa-linkedin")
  