.footer {
  padding: {
    top: 60px;
    bottom: 60px;
  };
  background-color: var(--gray-dark);
  color: #fff;
  .s-media {
    i {
      cursor: pointer;
      transition: .3s;
      &:hover {
        color: $azza-green;
      }
      margin: {
        right: 5px;
        left: 5px;
      };
    }
  }
  h4 {
    color: $azza-green;
  }

  ul {
    li {
      padding: 2px 5px;
    }
  }
  p {
    font-size: 14px;
    line-height: 1.7;
  }

  .rights {
    width: fit-content;
    margin: auto;
    padding: 0;
    margin-bottom: 0;
    margin-top: 20px;
    color: $azza-green;
  }
}