@import '../component/navbar';

// request stating
.request {
  background-color: #EEE;
  form {
    label {
      color: #111;
    }
  }
  padding: {
      top: 60px;
      bottom: 60px;
  };
  .request-text {
    text-align: center;
    h2{
      color: #333;
    }
    p {
      color: #eee;
    }
  }
  .steps {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: var(--gray-dark);
    position: relative;
    color: #222;
    &::after {
      content: "";
      position: absolute;
      width: 70%;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      background-color: #999;
      z-index: 1;
    }
    span {
      position: relative;
      z-index: 2;
      width: 100px;
      height: 100px;
      background-color: #DDD;
      line-height: 100px;
      text-align: center;
      border-radius: 50%;
      border: 3px solid #777;
    }
  }
}
// request ending