@mixin overlay($opacity) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: $opacity;
}

@mixin boxSizing {
    -wwbkit-box-sizing: border-box;
    -mos-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin prefixer($prop, $value) {
    #{'-webkit-' + $prop}: $value;
    #{'-o-' + $prop}: $value;
    #{$prop}: $value;
}