.container
 .navbar 
  .logo Code.
  ul(class="list-unstyle links")
   li: a(href="#") Home
   li: a(href="#") Services
   li: a(href="#") Pricing
   li: a(href="#") Clients
   li: a(href="#") News
   li: a(href="#") Contact
  button.main-button Singup
 .content-introduction
   .image: img(src="images/undraw_art_museum_8or4.svg")
   .text 
    h3.head Multipurpose landing templet
    h1.title Beautifully
    p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quaerat adipisci laboriosam maxime dolorum. Expedita.
    button.main-button Learn More  
